<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jas_Winter-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{14,91},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,26}</string>
                <key>spriteSourceSize</key>
                <string>{14,26}</string>
                <key>textureRect</key>
                <string>{{0,91},{14,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{0,66},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{13,43},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,60}</string>
                <key>spriteSourceSize</key>
                <string>{47,60}</string>
                <key>textureRect</key>
                <string>{{0,118},{47,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{26,21},{14,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-back3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,22}</string>
                <key>spriteSourceSize</key>
                <string>{14,22}</string>
                <key>textureRect</key>
                <string>{{26,21},{14,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-back4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{12,0},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-front1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{16,66},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-front2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{28,43},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-front3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{14,24}</string>
                <key>textureRect</key>
                <string>{{16,66},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-front4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{42,43},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,25}</string>
                <key>spriteSourceSize</key>
                <string>{14,25}</string>
                <key>textureRect</key>
                <string>{{30,66},{14,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,22}</string>
                <key>spriteSourceSize</key>
                <string>{13,22}</string>
                <key>textureRect</key>
                <string>{{40,21},{13,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{24,0},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,22}</string>
                <key>spriteSourceSize</key>
                <string>{13,22}</string>
                <key>textureRect</key>
                <string>{{40,21},{13,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{37,0},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,22}</string>
                <key>spriteSourceSize</key>
                <string>{13,22}</string>
                <key>textureRect</key>
                <string>{{0,43},{13,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{0,21},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,22}</string>
                <key>spriteSourceSize</key>
                <string>{13,22}</string>
                <key>textureRect</key>
                <string>{{0,43},{13,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jas_Winter-right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{13,21},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jas_Winter.png</string>
            <key>size</key>
            <string>{56,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da5f4f1341376be67735acd87ccdcaac:64f832754a1c5fc51901b8b89104fd2f:1bf4ba810cd9a5e228e0fda9e8b2a58d$</string>
            <key>textureFileName</key>
            <string>Jas_Winter.png</string>
        </dict>
    </dict>
</plist>
