<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Axe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{41,55},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{61,55},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{108,19},{16,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{81,55},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{1,63},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{19,55},{8,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{1,23},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{55,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{73,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluefish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{33,68},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{99,55},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>copper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{101,71},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cow_milk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{109,1},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fertilizer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fertilizer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,45},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fertilizer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>french_fries.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{37,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goat_wool.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,37},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_cream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{37,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{51,68},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{55,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_fruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{37,37},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redfish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{16,65},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{69,68},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{55,37},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{91,37},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry_fruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{73,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sturgeon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{91,19},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflour.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{85,68},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflour_fruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{107,37},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{91,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuna.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{73,37},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{109,55},{14,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bag.png</string>
            <key>size</key>
            <string>{122,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d96298c1c3773d7413bcce38a4f4e09:82cf43312db743d6dbbb6b612257681f:b3f8c49958a0fb927b02d9c3b1fdbc5b$</string>
            <key>textureFileName</key>
            <string>bag.png</string>
        </dict>
    </dict>
</plist>
