<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{6,6},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{0,6},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{17,6},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{0,65},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{15,65},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{15,47},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{5,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,6}</string>
                <key>spriteSourceSize</key>
                <string>{9,6}</string>
                <key>textureRect</key>
                <string>{{13,0},{9,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,13}</string>
                <key>spriteSourceSize</key>
                <string>{11,13}</string>
                <key>textureRect</key>
                <string>{{0,18},{11,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{0,47},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{0,85},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{15,85},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{11,18},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflower-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{9,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflower-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,6}</string>
                <key>spriteSourceSize</key>
                <string>{9,6}</string>
                <key>textureRect</key>
                <string>{{22,0},{9,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflower-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{0,31},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflower-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{0,109},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflower-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{13,27}</string>
                <key>textureRect</key>
                <string>{{15,109},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunflower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,4}</string>
                <key>spriteSourceSize</key>
                <string>{5,4}</string>
                <key>textureRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{13,31},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crop.png</string>
            <key>size</key>
            <string>{31,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b9fc8ce981ff204b4526f6d34e807c8:cae04d7b145de3c8056e5ad5307d1241:be2e5b24d12d15a65d23f031cf32a7da$</string>
            <key>textureFileName</key>
            <string>crop.png</string>
        </dict>
    </dict>
</plist>
