<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pick1-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{23,1},{4,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{18,25},{4,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,21}</string>
                <key>spriteSourceSize</key>
                <string>{4,21}</string>
                <key>textureRect</key>
                <string>{{24,25},{4,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{18,25},{4,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{1,19},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick1-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{1,36},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pick1.png</string>
            <key>size</key>
            <string>{29,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75bfa03470d3e86d8afa27d2f9fad9d7:d13fc74f9bad24cc1c0da462207a8609:3070d0a6d02652096be22ac3322bb54f$</string>
            <key>textureFileName</key>
            <string>Pick1.png</string>
        </dict>
    </dict>
</plist>
