<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Axe1-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,19}</string>
                <key>spriteSourceSize</key>
                <string>{6,19}</string>
                <key>textureRect</key>
                <string>{{410,25},{6,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe1-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,21}</string>
                <key>spriteSourceSize</key>
                <string>{6,21}</string>
                <key>textureRect</key>
                <string>{{378,1},{6,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe1-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{471,8},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Axe1-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,21}</string>
                <key>spriteSourceSize</key>
                <string>{6,21}</string>
                <key>textureRect</key>
                <string>{{378,1},{6,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe1-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{211,1},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Axe1-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{338,1},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe1-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{229,1},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Axe1-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{145,19},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe2-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,19}</string>
                <key>spriteSourceSize</key>
                <string>{6,19}</string>
                <key>textureRect</key>
                <string>{{431,25},{6,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe2-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,21}</string>
                <key>spriteSourceSize</key>
                <string>{6,21}</string>
                <key>textureRect</key>
                <string>{{185,19},{6,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe2-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{481,8},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Axe2-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,21}</string>
                <key>spriteSourceSize</key>
                <string>{6,21}</string>
                <key>textureRect</key>
                <string>{{185,19},{6,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe2-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{247,1},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Axe2-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{358,1},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Axe2-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{265,1},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Axe2-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,18}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{165,19},{10,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can1-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{313,18},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can1-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{313,18},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can1-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,19}</string>
                <key>spriteSourceSize</key>
                <string>{11,19}</string>
                <key>textureRect</key>
                <string>{{103,19},{11,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can1-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{367,13},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can1-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{211,18},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can1-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{427,7},{16,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can1-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{228,18},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can1-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{440,7},{16,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can2-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{491,19},{10,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can2-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{491,19},{10,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can2-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,19}</string>
                <key>spriteSourceSize</key>
                <string>{11,19}</string>
                <key>textureRect</key>
                <string>{{317,1},{11,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Can2-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{397,9},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can2-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{245,18},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can2-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{453,7},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can2-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{262,18},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Can2-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,11}</string>
                <key>spriteSourceSize</key>
                <string>{16,11}</string>
                <key>textureRect</key>
                <string>{{453,20},{16,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe1-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{325,14},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe1-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{124,19},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe1-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{86,19},{12,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe1-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{124,19},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe1-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{279,18},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe1-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{37,1},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe1-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{296,18},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe1-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{52,1},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe2-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{337,14},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe2-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{45,22},{9,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe2-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{68,19},{12,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe2-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{45,22},{9,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe2-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{349,13},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hoe2-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{1,23},{8,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe2-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{495,1},{16,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hoe2-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{23,23},{8,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick1-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{185,27},{4,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick1-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{425,1},{4,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick1-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,21}</string>
                <key>spriteSourceSize</key>
                <string>{4,21}</string>
                <key>textureRect</key>
                <string>{{449,1},{4,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick1-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{425,1},{4,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick1-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{283,1},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{300,1},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick1-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick2-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,21}</string>
                <key>spriteSourceSize</key>
                <string>{5,21}</string>
                <key>textureRect</key>
                <string>{{472,1},{5,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick2-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{401,1},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick2-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,21}</string>
                <key>spriteSourceSize</key>
                <string>{5,21}</string>
                <key>textureRect</key>
                <string>{{380,26},{5,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick2-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{401,1},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pick2-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{380,9},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick2-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{19,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick2-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{410,8},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pick2-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{19,1},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{67,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{85,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{103,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{121,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{103,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{121,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{67,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod1-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{85,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-back-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{139,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{157,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-front-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{175,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{193,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-left-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{175,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{193,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-right-clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{139,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rod2-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{157,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tools.png</string>
            <key>size</key>
            <string>{510,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c5d1d4c9ac5708eb23b57c139c79a67:09254e2f05929f21c84ab50efa621995:fd7befb8e3d19c899fbe3da66ebd7c11$</string>
            <key>textureFileName</key>
            <string>Tools.png</string>
        </dict>
    </dict>
</plist>
